@font-face {
    font-family: Tickets;
    src: url(../fonts/Rialto.ttf);
}

@font-face {
    font-family: Title;
    src: url(../fonts/WagnerZip-Change.ttf);
}

@font-face {
    font-family: Description;
    src: url(../fonts/Montserrat-Regular.ttf);
}

#showListingsParent {
    height: auto;
}

#showListings {
    font-family: Description;
}

.showTitle {
    font-family: Title;
}

#userWindowParent {
    height: auto;
}

#userWindow {
    font-family: Description;
}

#customerInfoParent {
    height: auto;
}

#customerInfo{
    font-family: Tickets;
}

.carousel-innerimg {
    width: 500px;
    height: 506px;
    border-radius: 20px;
    border: solid;
}

.carousel {
    position: relative;
    z-index: 5;
}

.carousel{
    position: relative;
    height: 500px;
    top: -15px;
    
}

#curtain {
    position: absolute;
    z-index: 7 !important;
    top: -0px;
    left: 0px;
    width: 1483px;
    height: 736px;
    
}


.jumbotron {
    position: relative;
    z-index: 8;
    
}


#curtains {
    z-index: 5 !important;
}

#email {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.rowSignin { 
    position: relative;
    z-index: 10px !important;
}

.input-group-text {
    border-radius: 100px;
}

#first {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(244, 247, 242);
    color: rgb(94, 180, 127);
    text-align: center;
    padding: 1rem;
    z-index: 10;
}

h6 {
    color: rgb(94, 180, 127);
}


#last {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}


.navbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background-color: rgb(244, 247, 242);
    color: rgb(94, 180, 127);
    
}

.navbar-brand {
    margin-left: 240px;
}

#people {
    width: 200px;
}

#purchase {
    margin: 15px;
    border-radius: 100px;
}

.rowSignin {
    margin-top: 50px;
    z-index: 10;
    bottom: 50px;
}

#save {
    margin: 15px;
    border-radius: 100px;
}

#saved {
    text-align: center;
}

#save {
    margin: 15px;
    border-radius: 100px;
}

#saved {
    text-align: center;
}

#selected {
    border-right: solid;
    text-align: center;
}

#search {
    border-radius: 100px;
}

#newpic {
    background-image: url("../img/theatre4.jpg");
    background-repeat: no-repeat;
    min-height: 730px;
    z-index: 5;
}

td {
    max-width: 100px;
}

.theaterinfo {
  
}

#th1 {
    width: 600px;
    border-right: solid;
    border-left: solid;
    text-align: center;
    color: rgb(94, 180, 127);
}

#th2 {
    width: 500px;
    border-right: solid;
    border-left: solid;
    text-align: center;
    color: rgb(94, 180, 127);
}

#th3 {
    width: 300px;
    border-right: solid;
    border-left: solid;
    text-align: center;
    color: rgb(94, 180, 127);

}

#theatre {
    background-color: rgb(58, 58, 56);
    border-radius: 20px;
    margin-bottom: 10px;
   
    -webkit-animation: slideInLeft 1s;
    animation: slideInLeft 1s;
    
}

#theatre:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}

.theatre {
    background-color: rgb(58, 58, 56);
    border-radius: 20px;
    margin-bottom: 10px;
    
}

.theatre:hover {
    -webkit-animation: pulse 0.5s;
    animation: pulse 0.5s;
}

.theatrepics {
    width: 200px;
    height: 145px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: solid;
}

.theatretext {
    padding: 60px;
    color: white;
}

.theatretext:hover {
    color: white;
}

#venues {
    border-right: solid;
    text-align: center;
}

